@import url(https://fonts.googleapis.com/css?family=Lato:700);
.green {
  color: #19bd9a; }

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #333b46;
  margin-bottom: 48px; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #464646; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #81868e;
  margin-bottom: 36px; }

.text-group {
  padding: 0 50px;
  margin-bottom: 65px; }
  @media only screen and (max-width: 480px) {
    .text-group {
      padding: 0; } }
  @media only screen and (max-width: 320px) {
    .text-group {
      padding: 0; } }

header {
  background: url("../images/header.png") center/cover;
  padding-top: 38px;
  padding-bottom: 78px; }
  header .navbar {
    background: none;
    border: none; }
    header .navbar a {
      padding-top: 0;
      padding-bottom: 0; }
    header .navbar .navbar-nav li a {
      color: #ffffff;
      line-height: 24px;
      padding-top: 0;
      padding-bottom: 0;
      border: solid 1px transparent;
      border-radius: 50px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px; }
      @media only screen and (max-width: 768px) {
        header .navbar .navbar-nav li a {
          font-size: 12px; } }
    header .navbar .navbar-nav li:hover a {
      color: #ffffff;
      border: solid 1px #ffffff;
      border-radius: 50px; }
    header .navbar .navbar-nav li.active a {
      color: #ffffff;
      border: solid 1px #ffffff;
      border-radius: 50px;
      background: none; }
    header .navbar .navbar-toggle {
      border-color: #fff;
      background-color: inherit;
      color: #fff;
      margin-top: -8px; }
  header h1 {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 25%;
    margin-bottom: 46px; }
    @media only screen and (max-width: 1024px) {
      header h1 {
        margin-top: 10%; } }
    @media only screen and (max-width: 768px) {
      header h1 {
        margin-top: 10%; } }
    @media only screen and (max-width: 480px) {
      header h1 {
        font-size: 20px;
        margin-bottom: 20px; } }
    @media only screen and (max-width: 320px) {
      header h1 {
        font-size: 20px;
        margin-bottom: 10px; } }
  header p {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 25%; }
    @media only screen and (max-width: 1024px) {
      header p {
        margin-bottom: 10%; } }
    @media only screen and (max-width: 768px) {
      header p {
        margin-bottom: 10%; } }
  header .fa-angle-down {
    font-family: FontAwesome;
    font-size: 24px;
    color: #ffffff;
    background-color: #19bd9a;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 1px;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      header .fa-angle-down {
        display: none; } }
    @media only screen and (max-width: 360px) {
      header .fa-angle-down {
        background: none; } }

.hello {
  padding-top: 80px;
  padding-bottom: 60px; }
  @media only screen and (max-width: 480px) {
    .hello {
      text-align: center; } }
  .hello .text-group {
    padding: 0 64px; }
    @media only screen and (max-width: 768px) {
      .hello .text-group {
        padding: 0; } }
  .hello a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333b46;
    border: solid 2px #333b46;
    border-radius: 50px;
    padding: 10px 33px;
    margin-top: 35px; }
    .hello a:hover {
      text-decoration: none;
      color: #19bd9a;
      border: solid 2px #19bd9a; }
  @media only screen and (max-width: 480px) {
    .hello img {
      float: none;
      margin-top: 36px;
      margin-bottom: 36px; } }

.about {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 100px; }
  .about .fa {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    color: #ffffff;
    font-family: FontAwesome;
    font-size: 30px;
    background-color: #81868e;
    padding-top: 12px;
    margin: 0 10px; }
    .about .fa:hover {
      background-color: #19bd9a; }
  .about h3 {
    margin-bottom: 40px; }

.featured {
  padding-top: 80px; }

.images .img-1 {
  background: url("../images/img-1_02.png") center/cover;
  min-height: 318px;
  padding: 0; }
.images .img-2 {
  background: url("../images/img-2-new_03.png") center/cover;
  min-height: 318px;
  background-repeat: no-repeat;
  padding: 0; }
.images .img-3 {
  background: url("../images/img-3_03.png") center/cover;
  min-height: 318px;
  padding: 0; }
.images h2 {
  margin: 0;
  line-height: 318px;
  color: #ffffff;
  background-color: #000000;
  opacity: 0; }
  .images h2:hover {
    opacity: 0.7; }

.green-bg {
  background: url("../images/green-bg_02.png") center/cover;
  padding: 40px 0; }
  .green-bg h3 {
    color: #ffffff;
    margin-top: 10px; }
  .green-bg a {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border-radius: 50px;
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 10px 25px; }
    .green-bg a:hover {
      text-decoration: none; }
    @media only screen and (max-width: 768px) {
      .green-bg a {
        margin-top: 10px; } }
    @media only screen and (max-width: 480px) {
      .green-bg a {
        margin-top: 40px; } }

.service {
  padding-top: 80px;
  padding-bottom: 135px;
  /* Text inside the control */
  /* when p>50, don't clip left half*/
  /* Progress bar filling the whole right half for values above 50% */ }
  .service .progress-circle {
    display: inline-block;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 28px;
    position: relative;
    /* so that children can be absolutely positioned */
    padding: 0;
    width: 6.5em;
    height: 6.5em;
    background-color: #19bd9a;
    border-radius: 50%;
    line-height: 6.5em; }
  .service .progress-circle:after {
    border: none;
    position: absolute;
    top: 0.22em;
    left: 0.28em;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    background-color: white;
    content: " "; }
  .service .progress-circle span {
    position: absolute;
    line-height: 5.5em;
    width: 5.5em;
    text-align: center;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: #81868e;
    z-index: 2; }
    .service .progress-circle span small {
      font-size: 0.6em; }
  .service .left-half-clipper {
    /* a round circle */
    border-radius: 50%;
    width: 6.5em;
    height: 6.5em;
    position: absolute;
    /* needed for clipping */
    clip: rect(0, 6.5em, 6.5em, 3.25em);
    /* clips the whole left half*/ }
  .service .progress-circle.over50 .left-half-clipper {
    clip: rect(auto, auto, auto, auto); }
  .service .value-bar {
    /*This is an overlayed square, that is made round with the border radius,
    then it is cut to display only the left half, then rotated clockwise
    to escape the outer clipping path.*/
    position: absolute;
    /*needed for clipping*/
    clip: rect(0, 3.25em, 6.5em, 0);
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;
    border: 0.25em solid  #5aa1a4;
    /*The border is 0.35 but making it larger removes visual artifacts */
    /*background-color: #4D642D;*/
    /* for debug */
    box-sizing: border-box; }
  .service .progress-circle.over50 .first50-bar {
    /*Progress bar for the first 50%, filling the whole right half*/
    position: absolute;
    /*needed for clipping*/
    clip: rect(0, 6.5em, 6.5em, 3.25em);
    background-color: #19bd9a;
    border-radius: 50%;
    width: 6.5em;
    height: 6.5em; }
  .service .progress-circle:not(.over50) .first50-bar {
    display: none; }
  .service .progress-circle.p20 .value-bar {
    transform: rotate(72deg); }
  .service .progress-circle.p25 .value-bar {
    transform: rotate(90deg); }
  .service .progress-circle.p40 .value-bar {
    transform: rotate(144deg); }
  .service .diogramma {
    display: inline-block;
    width: 125px;
    height: 125px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: #81868e;
    border: 5px solid #19bd9a;
    border-right: 2px solid #5aa1a4;
    border-radius: 50%;
    padding-top: 40px;
    margin-top: 60px;
    margin-bottom: 28px; }
    @media only screen and (max-width: 480px) {
      .service .diogramma {
        margin-top: 20px; } }
    .service .diogramma span {
      font-size: 0.6em; }
  .service .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #81868e;
    text-align: center;
    padding-top: 15px;
    margin: 9px 0; }
    .service .icon:hover {
      background-color: #19bd9a; }
  .service h3 {
    margin-top: 0;
    margin-bottom: 40px; }
  .service .graphic-design {
    padding-right: 50px; }
    @media only screen and (max-width: 480px) {
      .service .graphic-design {
        padding-right: 20px; } }

.mpressed {
  background: url("../images/impressed-bg_02.png") center/cover;
  min-height: 392px; }
  .mpressed .text-group {
    width: 100%;
    padding: 0;
    margin-top: 80px; }
    @media only screen and (max-width: 768px) {
      .mpressed .text-group {
        width: 100%;
        margin-top: 20px; } }
  .mpressed h2 {
    color: #ffffff; }
  .mpressed p {
    color: #ffffff; }
  .mpressed .mac {
    margin-top: -50px;
    float: right;
    max-width: 100%; }
    @media only screen and (max-width: 768px) {
      .mpressed .mac {
        float: none;
        width: 100%;
        height: auto; } }
    @media only screen and (max-width: 480px) {
      .mpressed .mac {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 50px; } }

.portfolio {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 100px; }
  .portfolio ul {
    margin-bottom: 60px; }
    .portfolio ul li {
      display: inline;
      list-style-type: none; }
      .portfolio ul li a {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #464646;
        text-decoration: none;
        padding: 14px;
        position: relative; }
        .portfolio ul li a:after {
          content: "_____";
          left: 5px;
          right: 5px;
          top: 50%;
          height: 5px;
          color: #f3f3f3;
          border-radius: 50%;
          position: absolute; }
        .portfolio ul li a:hover::after {
          color: #19bd9a; }
  .portfolio .gamma-gallery {
    height: 1000px; }
  .portfolio .gamma-description {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    text-align: center;
    top: 5px;
    right: 10px;
    bottom: 5px;
    left: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out; }
    .portfolio .gamma-description h3 {
      width: 100%;
      padding: 0 20px;
      text-transform: uppercase;
      font-size: 20px;
      color: #19bd9a;
      display: inline-block;
      vertical-align: middle; }
    .portfolio .gamma-description p {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      color: #b2b3b3; }
  .portfolio .green-bg-small {
    background: url("../images/green-bg-small_07.png") center/cover;
    padding: 60px 0; }
    .portfolio .green-bg-small h3 {
      color: #ffffff;
      margin-bottom: 30px; }
    .portfolio .green-bg-small a {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      border-radius: 50px;
      color: #ffffff;
      border: solid 2px #ffffff;
      padding: 10px 25px; }
      .portfolio .green-bg-small a:hover {
        text-decoration: none; }

.carousel {
  position: relative; }
  .carousel .carousel-control.left {
    background-image: none; }
  .carousel .glyphicon-chevron-left:before {
    content: " "; }
  .carousel .carousel-control.right {
    background-image: none; }
  .carousel .glyphicon-chevron-right:before {
    content: " "; }
  .carousel .carousel-indicators {
    bottom: 0; }
    .carousel .carousel-indicators li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #19bd9a;
      border-radius: 10px; }
    .carousel .carousel-indicators .active {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #19bd9a;
      border: 1px solid #19bd9a; }

.team {
  padding-top: 80px;
  padding-bottom: 100px; }
  .team .carousel {
    position: relative; }
    .team .carousel .item {
      height: 450px;
      box-sizing: border-box; }
      @media only screen and (max-width: 480px) {
        .team .carousel .item {
          height: 900px;
          text-align: center;
          padding: 5%; } }
      @media only screen and (max-width: 480px) {
        .team .carousel .item img {
          margin-left: 10%; } }
      @media only screen and (max-width: 375px) {
        .team .carousel .item img {
          margin-left: 3%; } }
    .team .carousel .carousel-caption {
      position: absolute;
      right: 0;
      left: 60%;
      width: 40%;
      bottom: 60px;
      text-align: right;
      text-shadow: none; }
      @media only screen and (max-width: 768px) {
        .team .carousel .carousel-caption {
          bottom: 55px; } }
      @media only screen and (max-width: 480px) {
        .team .carousel .carousel-caption {
          left: 0;
          width: 100%; } }
      .team .carousel .carousel-caption .title {
        border-right: 2px solid #19bd9a;
        padding-right: 46px;
        margin-bottom: 30px; }
        .team .carousel .carousel-caption .title h4 {
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          color: #81868e;
          text-transform: uppercase;
          font-style: oblique; }
      .team .carousel .carousel-caption .text {
        padding-right: 46px; }
        .team .carousel .carousel-caption .text .procent {
          width: 100%;
          height: 30px;
          border-bottom: solid 2px #e1e4e9;
          margin-bottom: 30px; }
          .team .carousel .carousel-caption .text .procent p {
            font-size: 16px;
            color: #81868e;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            margin-bottom: 0; }
          .team .carousel .carousel-caption .text .procent .procent-line {
            border-bottom: solid 2px #19bd9a;
            height: 30px; }

.loved {
  background: url("../images/black-bg_02.png") center/cover;
  padding: 60px 0; }
  .loved h3 {
    color: #ffffff;
    margin-bottom: 30px; }
  .loved a {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border-radius: 50px;
    color: #ffffff;
    border: solid 2px #ffffff;
    line-height: 40px;
    padding: 0px 25px; }
    .loved a:hover {
      text-decoration: none; }
    @media only screen and (max-width: 768px) {
      .loved a {
        margin-top: 10px; } }
    @media only screen and (max-width: 480px) {
      .loved a {
        margin-top: 40px; } }

.testimonials {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 100px; }
  .testimonials .carousel {
    background-color: #ffffff; }
    .testimonials .carousel .item {
      height: 320px;
      box-sizing: border-box;
      padding-top: 50px; }
      @media only screen and (max-width: 768px) {
        .testimonials .carousel .item {
          height: 380px; } }
      @media only screen and (max-width: 480px) {
        .testimonials .carousel .item {
          height: 600px;
          text-align: center;
          padding: 10% 5%; } }
      .testimonials .carousel .item img {
        margin-left: 90px;
        height: 135px;
        width: 135px;
        border-radius: 50%;
        overflow: hidden; }
        @media only screen and (max-width: 320px) {
          .testimonials .carousel .item img {
            margin-left: 20%; } }
      .testimonials .carousel .item .carousel-caption {
        position: absolute;
        left: 25%;
        top: 50px;
        bottom: 30%;
        text-align: left;
        text-shadow: none; }
        @media only screen and (max-width: 768px) {
          .testimonials .carousel .item .carousel-caption {
            left: 40%;
            bottom: 20%; } }
        @media only screen and (max-width: 460px) {
          .testimonials .carousel .item .carousel-caption {
            left: 20%;
            top: 30%; } }
        .testimonials .carousel .item .carousel-caption .name {
          color: #19bd9a;
          text-transform: uppercase; }
        .testimonials .carousel .item .carousel-caption .position {
          text-transform: uppercase; }
  .testimonials .carousel .carousel-indicators {
    bottom: 60px; }
    @media only screen and (max-width: 768px) {
      .testimonials .carousel .carousel-indicators {
        bottom: 30px; } }

.news {
  background: url("../images/news-bg_02.png") center/cover;
  padding-top: 80px;
  padding-bottom: 100px; }
  .news p {
    color: #ffffff; }
  .news h2 {
    color: #ffffff; }
  .news .carousel .item {
    height: 320px;
    width: 50%;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }
    @media only screen and (max-width: 460px) {
      .news .carousel .item {
        width: 80%; } }
    .news .carousel .item h3 {
      color: #e1e4e9; }
    .news .carousel .item .by {
      text-transform: uppercase;
      color: #81868e; }
    .news .carousel .item .name {
      text-transform: uppercase;
      color: #19bd9a; }
    .news .carousel .item .date {
      color: #464646; }
    .news .carousel .item p {
      margin-top: 50px; }
  .news .carousel-indicators {
    width: 10px;
    bottom: 50%;
    left: 100%;
    margin-left: 0; }
    .news .carousel-indicators li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #ffffff;
      border-radius: 10px; }
    .news .carousel-indicators .active {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #fff; }

.price {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 100px; }
  .price .table {
    float: left;
    width: 235px;
    margin-left: 55px; }
    @media only screen and (max-width: 1024px) {
      .price .table {
        width: 200px;
        margin-left: 50px; } }
    @media only screen and (max-width: 768px) {
      .price .table {
        width: 200px;
        margin-left: 25px; } }
    @media only screen and (max-width: 460px) {
      .price .table {
        float: none;
        margin-left: 0;
        width: 100%; } }
    .price .table h3 {
      text-align: center;
      line-height: 70px;
      color: #ffffff;
      background-color: #19bd9a;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: bold;
      text-transform: uppercase; }
    .price .table .per {
      height: 235px;
      padding-top: 70px;
      background-color: #ffffff;
      color: #81868e;
      font-size: 20px;
      text-align: center;
      vertical-align: middle; }
      .price .table .per span {
        font-size: 42px;
        color: #1fbba6;
        font-weight: bold; }
    .price .table ul {
      height: 235px;
      padding-top: 20px;
      padding-left: 20px;
      background-color: #ffffff;
      margin-bottom: 0; }
      .price .table ul li {
        list-style-type: none;
        font-family: ff;
        font-size: 16px;
        color: #81868e;
        line-height: 30px; }
    .price .table a {
      display: inline-block;
      width: 100%;
      text-align: center;
      line-height: 70px;
      font-size: 16px;
      color: #ffffff;
      background-color: #19bd9a;
      font-weight: bold; }

.subscribe {
  background: url("../images/subscribe-bg_02.png") center/cover;
  padding-top: 80px;
  padding-bottom: 100px; }
  .subscribe h2 {
    color: #ffffff; }
  .subscribe p {
    color: #ffffff;
    margin-bottom: 60px; }
  .subscribe .form-group {
    width: 70%; }
    @media only screen and (max-width: 460px) {
      .subscribe .form-group {
        width: 100%; } }
  .subscribe input {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #cfd3d4;
    line-height: 40px;
    color: #cfd3d4;
    font-family: ff;
    font-size: 14px;
    padding-left: 25px; }
  .subscribe button {
    width: 25%;
    padding: 0;
    background-color: #19bd9a;
    border: 1px solid #19bd9a;
    line-height: 40px;
    color: #cfd3d4;
    font-family: ff;
    font-size: 14px;
    border-radius: 0;
    text-transform: uppercase; }
    @media only screen and (max-width: 460px) {
      .subscribe button {
        width: 100%; } }

.contact {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 100px; }
  .contact .table {
    float: left;
    width: 30%; }
    @media only screen and (max-width: 460px) {
      .contact .table {
        float: none;
        width: 100%; } }
    .contact .table img {
      width: 100%;
      height: auto; }
    .contact .table h3 {
      font-size: 16px;
      color: #464646;
      background-color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      line-height: 68px;
      margin: 0; }
    .contact .table p {
      color: #81868e;
      background-color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      padding-bottom: 30px; }
  .contact .table-center {
    margin: 0 5%; }
    @media only screen and (max-width: 460px) {
      .contact .table-center {
        margin: 0; } }

.submit {
  padding-top: 80px;
  padding-bottom: 100px; }
  .submit form {
    margin: 0 15px; }
    .submit form .form-group {
      width: 30%;
      margin-bottom: 30px; }
      @media only screen and (max-width: 1024px) {
        .submit form .form-group {
          width: 29.5%; } }
      @media only screen and (max-width: 460px) {
        .submit form .form-group {
          width: 100%; } }
      .submit form .form-group input {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #a9a9a9;
        line-height: 40px;
        color: #a9a9a9;
        font-family: ff;
        font-size: 14px;
        padding-left: 25px; }
    .submit form .table-center {
      margin-left: 4.5%;
      margin-right: 4.5%; }
      @media only screen and (max-width: 768px) {
        .submit form .table-center {
          margin-left: 4.4%;
          margin-right: 4.4%; } }
      @media only screen and (max-width: 460px) {
        .submit form .table-center {
          margin-left: 0;
          margin-right: 0; } }
    .submit form textarea {
      width: 100%;
      height: 190px;
      resize: none;
      margin-bottom: 30px;
      border: 1px solid #a9a9a9; }
    .submit form button {
      width: 100%;
      padding: 0;
      background-color: #19bd9a;
      border: 1px solid #19bd9a;
      line-height: 40px;
      color: #ffffff;
      font-family: ff;
      font-size: 14px;
      border-radius: 0;
      text-transform: uppercase; }

.map {
  position: relative; }
  .map .shadow {
    position: absolute;
    background-color: #262626;
    left: 0;
    opacity: 0.9;
    width: 100%;
    height: 500px;
    padding-top: 240px; }
    .map .shadow:hover {
      opacity: 0; }
    .map .shadow p {
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase; }
    .map .shadow .fa-angle-down {
      font-family: FontAwesome;
      font-size: 16px;
      color: #ffffff;
      background-color: #19bd9a;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      padding-top: 3px;
      text-align: center; }

footer {
  padding-top: 80px;
  padding-bottom: 90px; }
  footer p {
    color: #81868e;
    font-size: 14px;
    margin: 25px 0; }
  footer .fa {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #ffffff;
    font-family: FontAwesome;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    margin: 0 5px; }
  footer .fa-facebook {
    background-color: #3b5998; }
  footer .fa-twitter {
    background-color: #26a6d1; }
  footer .fa-instagram {
    background-color: #3f729b; }
  footer .fa-vimeo {
    background-color: #86c9ef; }

.scrollup {
  color: #0f0f0f;
  opacity: 0.3;
  position: fixed;
  bottom: 100px;
  right: 50px;
  display: none; }
  .scrollup .fa-arrow-circle-up {
    font-family: FontAwesome;
    font-size: 70px;
    font-style: normal; }
  .scrollup:hover {
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
